@font-face {
  font-family: 'Raleway-Black';
  src: url("../fonts/Raleway/static/Raleway-Regular.ttf");
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
}

body {
  background-color: #0b1523;
  color: white;
  font-family: "OpenSans-Regular";
  text-align: center;
}

.loader-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  font-family: "Raleway-Black";
}

.loader-wrapper .logo {
  margin-bottom: 20px;
}

.loader-wrapper .logo img {
  display: inline-block;
}

.loader {
  display: inline-block;
  width: 40px;
  height: 40px;
  position: relative;
  border: 4px solid #65e2d9;
  border-radius: 5px;
  margin: 0 auto;
  animation: loader 2s infinite ease;
  font-family: "Raleway-Black";
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
