@font-face {
  font-family: 'Raleway-Black';
  src: url("../fonts/Raleway/static/Raleway-Regular.ttf");
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
}

/**
*
* Testing
*
**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
}

.container {
  max-width: 80vw;
  padding: 0 30px;
  margin: 0 auto;
  overflow: auto;
}

.page-size {
  height: 100vh;
}

@media (max-width: 768px) {
  .page-size {
    min-height: 20vh;
  }
}

.deactive {
  display: none;
}

nav {
  background: #1c2431;
  padding: 0 30px;
  border-bottom: 1px #181f2a solid;
  font-family: "OpenSans-Regular";
}

a {
  color: white;
  text-decoration: none;
}

.has-submenu a {
  color: white;
}

.menu,
.submenu {
  list-style-type: none;
}

.logo {
  font-size: 2rem;
  font-family: "Raleway-Black";
  padding: 5px 10px 5px 0;
}

.logo a:hover {
  color: white;
}

.logo img {
  width: 50px;
}

.item {
  padding: 10px;
}

.item.button {
  padding: 9px 5px;
}

.item a:hover,
.item a:hover::after {
  color: #65e2d9;
}

/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.menu li a {
  display: block;
  padding: 15px 5px;
}

.menu li.subitem a {
  padding: 15px;
}

.toggle {
  order: 1;
  font-size: 20px;
}

.item.button {
  order: 2;
}

.item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
}

.active .item {
  display: block;
}

.button {
  /* divider between buttons and menu links */
  border-bottom: 1px #339ecc solid;
}

/* Submenu up from mobile screens */
.submenu {
  display: none;
}

.submenu-active .submenu {
  display: block;
}

.has-submenu {
  cursor: pointer;
}

.has-submenu i {
  font-size: 12px;
}

.has-submenu > a::after {
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  line-height: 16px;
  font-weight: 900;
  content: "\f078";
  color: white;
  padding-left: 5px;
}

.subitem a {
  padding: 10px 15px;
}

.submenu-active {
  background-color: #181f2a;
  border-radius: 3px;
}

/* Desktop menu */
@media (min-width: 769px) {
  .menu {
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;
  }
  .logo {
    order: 0;
    flex: 1;
  }
  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
    margin-top: 10px;
  }
  .item .button {
    width: auto;
    order: 1;
    display: block;
  }
  .button {
    order: 2;
  }
  .menu li.button a {
    padding: 10px 15px;
    margin: 5px 0;
  }
  .button a {
    background: #0080ff;
    border: 1px royalblue solid;
  }
  .button {
    border: 0;
  }
  .button a {
    background: transparent;
    border: 1px #65e2d9 solid;
  }
  .button a:hover {
    text-decoration: none;
  }
  .button a:hover {
    background: #0b1523;
    border-color: #339ecc;
  }
  .submenu-active .submenu {
    display: block;
    position: absolute;
    left: 0;
    top: 68px;
    background: #181f2a;
  }
  .toggle {
    display: none;
  }
  .submenu-active {
    border-radius: 0;
  }
}

.search-section {
  background-color: #0b1523;
  color: white;
  padding: 20px;
}

.search-section .search-outter {
  margin: 0 auto;
}

.search-section .search-outter h1 {
  font-family: "Raleway-Black";
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  margin: 20px 0;
}

.search-section .search-outter h2 {
  font-family: "OpenSans-Regular";
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  margin: 20px 0;
}

.search-section .search-outter .search {
  padding: 10px;
  text-align: center;
}

.search-section .search-outter .search .dropbtn {
  width: 100%;
  background-color: #1c2431;
  color: white;
  font-size: 1rem;
  padding: 20px;
  border: none;
  cursor: pointer;
}

.search-section .search-outter .search .dropbtn .dropbtn:hover,
.search-section .search-outter .search .dropbtn .dropbtn:focus {
  background-color: #3e8e41;
}

.search-section .search-outter .search .search-job {
  padding: 10px;
  display: block;
  margin: 10px auto;
}

.search-section .search-outter .search .search-job input {
  width: 100%;
  padding: 20px;
  font-size: 1rem;
  border: 2px #65e2d9 solid;
}

.search-section .search-outter .search .search-job input:focus {
  outline: 3px solid #ddd;
}

.search-section .search-outter .search .search-category {
  padding: 10px;
  display: block;
  margin: 10px auto;
  width: 100%;
}

.search-section .search-outter .search .search-category h2 {
  padding: 0;
  margin: 10px;
}

.search-section .search-outter .search .search-location {
  padding: 10px;
  display: block;
  margin: 10px auto;
  width: 100%;
  color: white;
}

.search-section .search-outter .search .search-location h2 {
  padding: 0;
  margin: 10px;
}

.search-section .search-outter .search .searchbtn {
  width: 80%;
  line-height: 0;
  border-radius: 30px;
  background-color: #65e2d9;
  padding: 30px 50px;
  margin: 20px auto;
  text-align: center;
  color: black;
  font-size: 1rem;
  cursor: pointer;
  border: 3px white solid;
}

.search-section .search-outter .search .searchbtn a {
  line-height: 0;
  color: #0b1523;
  width: 100%;
  height: 100%;
}

.search-section .search-outter .search .searchbtn:hover {
  background-color: #0b1523;
  color: white;
  border: 3px #65e2d9 solid;
}

.search-section .search-outter .search .searchbtn:hover a {
  color: white;
}

@media only screen and (min-width: 900px) {
  .search-section .search-outter .search {
    width: 80%;
    margin: 0 auto;
    display: flex;
  }
  .search-section .search-outter .search .search-job {
    width: 100%;
  }
  .search-section .search-outter .search .search-job input {
    margin-top: 40px;
    padding: 20px;
    font-size: 1rem;
    border: 2px #65e2d9 solid;
  }
  .search-section .search-outter .search .search-job input:focus {
    outline: 3px solid #ddd;
  }
  .search-section .search-outter .search .searchbtn {
    width: 20%;
    margin: 60px 0;
  }
}

.results {
  background-color: #181f2a;
  color: white;
  padding: 20px;
}

.results .results-outter {
  padding: 10px;
}

.results .results-outter > h1 {
  font-size: 1.5rem;
  font-family: "Raleway-Black";
  text-align: center;
}

.results .results-outter .result-list {
  padding: 10px;
}

.results .results-outter .result-list .result {
  margin: 10px;
  font-family: "OpenSans-Regular";
  font-weight: 400;
  border-bottom: 1px #339ecc solid;
  display: none;
}

.results .results-outter .result-list .result .result-body {
  font-size: 1rem;
  margin: 5px;
}

.results .results-outter .result-list .result .title {
  font-family: "Raleway-Black";
  font-weight: 600;
  margin: 5px;
  font-size: 1.5rem;
  color: cyan;
}

.results .results-outter .result-list .result .company::before {
  content: "Company: ";
  margin-right: 5px;
  color: #65e2d9;
}

.results .results-outter .result-list .result .location::before {
  content: "Location: ";
  margin-right: 5px;
  color: #65e2d9;
}

.results .results-outter .result-list .result .category::before {
  content: "Category: ";
  margin-right: 5px;
  color: #65e2d9;
}

.results .results-outter .result-list .result .type::before {
  content: "Type: ";
  margin-right: 5px;
  color: #65e2d9;
}

.results .results-outter .result-list .result .salary {
  text-align: center;
  font-size: 1.2rem;
  margin: 5px;
}

.results .results-outter .result-list .result .salary::before {
  content: "Salary: ";
  margin-right: 5px;
  color: #65e2d9;
}

.results .results-outter .result-list .result a {
  display: block;
  width: 80%;
  border-radius: 30px;
  background-color: #65e2d9;
  padding: 10px 10px;
  margin: 20px auto;
  text-align: center;
  color: black;
  font-size: 1rem;
  cursor: pointer;
  border: 3px white solid;
}

.results .results-outter .result-list .result a:hover {
  background-color: #0b1523;
  color: white;
  border: 3px #65e2d9 solid;
}

.results .results-outter .result-list .show {
  display: block;
}

@media only screen and (min-width: 1300px) {
  .results .results-outter .result-list {
    display: flex;
    flex-wrap: wrap;
    border: none;
    justify-content: space-between;
  }
  .results .results-outter .result-list .result {
    padding: 20px;
    margin: 20px;
    width: 30%;
  }
  .results .results-outter .result-list .result a {
    width: 50%;
    padding: 10px 20px;
    margin: 20px auto;
  }
}

footer {
  background-color: #65e2d9;
  color: white;
  padding: 30px 0;
  margin: 0 auto;
  text-align: center;
}

footer .footer-links a {
  margin-top: 5px;
  font-family: "Raleway-Black";
  font-size: 1.5rem;
  text-align: center;
  color: #181f2a;
  font-weight: 600;
}

footer .footer-links a:hover {
  color: white;
}

footer .footer-links ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-self: flex-start;
}

footer .footer-links ul li {
  list-style-type: none;
  margin: 5px 10px;
}

footer .footer-links ul li a {
  font-weight: 400;
  display: inline-block;
  margin: 0 auto;
  background-color: #65e2d9;
  padding: 5px;
  border-radius: 10px;
  border: 2px #65e2d9 solid;
  color: #0b1523;
  font-size: 1rem;
  font-family: "OpenSans-Regular";
}

footer .footer-links ul li a:hover {
  border: 2px #181f2a solid;
  color: black;
}

footer .social-media ul {
  display: flex;
  justify-content: center;
}

footer .social-media ul li {
  list-style-type: none;
  margin: 0 10px;
}

footer .social-media img {
  max-width: 50px;
}

footer .copyright {
  font-family: "Raleway-Black";
  font-size: 1rem;
  text-align: center;
  color: #181f2a;
  font-weight: 600;
}
